body{
    background-image: url(loginImg/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.carouselbtn{
   
    background-color: #006600;

}
.carouselbtn:hover{
    color: #4CBB17; 
}